files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;
      
      upstream springboot {
        server 127.0.0.1:5000;
        keepalive 256;
      }

  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Redirect HTTP to HTTPS in production
      # Uncomment when SSL certificate is configured
      # server {
      #   listen 80;
      #   return 301 https://$host$request_uri;
      # }

container_commands:
  01_reload_nginx:
    command: "service nginx reload"
